body {
	margin: 10px 20px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	color: #4d4e53;
	background-color: white;
}
a {
	color: #606;
	text-decoration-color: #ddd;
}
a:hover {
	text-decoration-color: #222;
}
nav.pages {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}
nav.pages a {
	text-decoration: none;
}
ul.demos li {
	margin: 10px 0;
}

.major-input {
	margin: 1rem 0;
}
.major-input input {
	display: block;
	box-sizing: border-box;
	width: 100%;
}
table.properties th {
	text-align: end;
}
table.properties td.special {
	color: #888;
}
#map {
	height: 25rem;
}
details.js {
	margin: 1rem 0;
	padding: 1em;
	background: #0d152a;
	color: #aeaeae;
}
